@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Recursive:ital,wght@0..1,300..800&display=swap');
@import "main";  

*{
  font-family: 'EB Garamond', serif;
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

#main h2 {
  align-self: center;
  padding: 0.25em 0.5em;
}

p {
  margin: 0 0;
}

// Layout 
#about {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include blur;
}

#about ul {
  list-style: none;
  display: grid;
  justify-content: center;
  align-items: center;
}

#guidelines {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include blur;
}

#contribute{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  @include blur;
}

.profile {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 55px;
  width: 80%;
  @include blur;
}

#styles {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 55px;
  width: 80%;
  @include blur;
}


@media (min-width: 768px) {
  #about {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  #about ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  #guidelines {
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  #contribute {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .profile{
    margin-left: auto;
    margin-right: auto;
  }
  #styles{
    margin-left: auto;
    margin-right: auto;
  }
}