.skip-link{
    display: none;
}

header{
    background-color: $early-day;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header svg{
    display:none;
}

nav ul{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
}


nav a:hover{
    background-color: $late-evning;
}

.container h1, h2 {
    text-align: center;
}

.container > p{
    text-align: center;
}