.skip-link{
    display: none;
}

header{
    width: 100%;
    z-index: 1;
    text-shadow: #FC0 1px 0 10px;
    -webkit-text-stroke: 1px black;
    font-weight: lighter;

    h2{
        padding: 30px;
        padding-bottom: 20px;
    }

    .container p{
        text-shadow: 0px;
        -webkit-text-stroke: 0px ;
        margin-bottom: 35px;
        text-align: center;
    }
}

header svg{
    display:none;
}

header .link-github{
    display: none;
}

nav{
    margin-bottom: 65px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 16px;
}

nav a{
    text-decoration: none;
}


nav a:hover{
    background-color: $late-evning;
}

.container h1, h2 {
    text-align: center;
}

.container > p{
    text-align: left;
}