.link-github{
    font-size: 0px;
}

body{
    background-color: $early-morning;
}

main{
    backdrop-filter: blur(11px);
    width: 90%;
    margin: 0 auto;
    color: white;  
}

.profile{
    display: none;
}

#styles{
    display: none;
}


