$sun_color: $sun;


footer svg{
    position: fixed;
    z-index: -10;
    width: 200px;
    background-color: $sun;
    border-radius: 50%;
    fill: transparent;
    animation: celestial-body linear 10s infinite;
}

@keyframes celestial-body{

    0%{
        left: calc(95% - 220px);
        top:45%;
        background-color: transparent;
        box-shadow: inset -80px 5px 0 3px whitesmoke
    }
    
    10%{
        top: 55%;
    }
    
    25%{
        left: 5%;
        top: 45%;
        background-color: transparent;
    }
    
    30%{
        left: 0%;
    }
    
    35%{
        top: 25%;
        left: 5%;
        background-color: $sun;
        box-shadow: none;
    }

    45%{
        top: 20%;
        left: 35%;
        background-color: $sun;
    }
 
    65%{
        top: 25%;
        left: calc(95% - 220px);
        box-shadow: none;
    }
 
    85%{
        top: 35%;
        left: calc(100% - 220px);
        background-color: transparent;
        box-shadow: inset -80px 5px 0 3px whitesmoke
    }
 
    100%{
        top:45%;
        left: calc(95% - 220px);
        background-color: transparent;
        box-shadow: inset -80px 5px 0 3px whitesmoke
    }
}