/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Recursive:ital,wght@0..1,300..800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "EB Garamond", serif;
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

#main h2 {
  align-self: center;
  padding: 0.25em 0.5em;
}

p {
  margin: 0 0;
}

.skip-link {
  display: none;
}

header {
  background-color: #94b2bd;
  width: 100%;
  position: fixed;
  z-index: 1;
}

header svg {
  display: none;
}

header .link-github {
  display: none;
}

nav ul {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  background-color: #bb3e03;
}

.container h1, h2 {
  text-align: center;
}

.container > p {
  text-align: center;
}

body {
  background: linear-gradient(to top, transparent 10%, pink, #caf0f8, #b0e8fb, #a2e8ff, #ffba08, #faa307, #f48c06, #e85d04, #dc2f02, #d00000, #9d0208, #6a040f, #370617, #03071e, transparent);
  background-color: black;
  background-size: 100% 900%;
  background-position: 50% 0%;
  animation: gradient 50s ease-in-out infinite;
  height: 100vh;
  z-index: -7;
}

@keyframes gradient {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% -10%;
    background-color: black;
  }
}
main {
  width: 80%;
  margin: 0 auto;
  backdrop-filter: blur(6.3px);
  background-color: rgba(255, 255, 255, 0.0705882353);
}

h1,
h2,
h3,
h4,
p,
li,
ul,
a {
  animation: textAnimation 50s ease-in-out infinite;
}

@keyframes textAnimation {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  75% {
    color: white;
  }
  85% {
    color: white;
  }
  100% {
    color: white;
  }
}
footer svg {
  position: fixed;
  z-index: -10;
  width: 200px;
  background-color: #f7c029;
  border-radius: 50%;
  fill: transparent;
  animation: celestial-body linear 40s infinite;
}

@keyframes celestial-body {
  0% {
    left: calc(95% - 220px);
    top: 45%;
    background-color: transparent;
    box-shadow: inset -80px 5px 0 3px whitesmoke;
  }
  15% {
    top: 55%;
  }
  30% {
    left: 5%;
    top: 45%;
    background-color: transparent;
  }
  35% {
    left: 0%;
  }
  40% {
    top: 25%;
    left: 5%;
    background-color: #f7c029;
    box-shadow: none;
  }
  65% {
    top: 20%;
    left: 35%;
    background-color: #f7c029;
  }
  85% {
    top: 25%;
    left: calc(95% - 220px);
    box-shadow: none;
  }
  90% {
    top: 35%;
    left: calc(100% - 220px);
  }
  100% {
    top: 45%;
    left: calc(95% - 220px);
    background-color: transparent;
    box-shadow: inset -80px 5px 0 3px whitesmoke;
  }
}

/*# sourceMappingURL=style.css.map */
